{% set ntp_data = config_context.get("ntp", []) %}
{% for server in ntp_data %}
{% if server['prefer'] %}
ntp server {{ server['ip'] }} prefer
{% else %}
ntp server {{ server['ip'] }}
{% endif %}
{% endfor %}
