{% for community in config_context["snmp"]["community"] | default([]) %}
snmp-server community {{ community["name"] }} {{ community["role"] }}
{% endfor %}

{% if config_context["snmp"]["location"] is defined %}
snmp-server location {{ config_context["snmp"]["location"] }}
{% endif %}

{% if config_context["snmp"]["contact"] is defined %}
snmp-server contact {{ config_context["snmp"]["contact"] }}
{% endif %}

{% for host in config_context["snmp"]["host"] | default([]) %}
snmp-server host {{ host["ip"] }} version {{ host["version"] }} {{ host["community"] }}
{% endfor %}
