{# === SNMP Configuration for Cisco IOS === #}
{% set snmp = config_context.get("snmp", {}) %}
{% set communities = snmp.get("community", []) %}
{% set location = snmp.get("location") %}
{% set contact = snmp.get("contact") %}
{% set hosts = snmp.get("host", []) %}

{%- if communities or location or contact or hosts %}
!
{%- endif %}

{%- if communities is iterable and communities is not string %}
  {%- for community in communities %}
    {%- if community.name is defined and community.role is defined %}
snmp-server community {{ community.name }} {{ community.role }}
    {%- endif %}
  {%- endfor %}
{%- endif %}

{%- if location %}
snmp-server location {{ location }}
{%- endif %}

{%- if contact %}
snmp-server contact {{ contact }}
{%- endif %}

{%- if hosts is iterable and hosts is not string %}
  {%- for host in hosts %}
    {%- if host.ip is defined and host.version is defined and host.community is defined %}
snmp-server host {{ host.ip }} version {{ host.version }} {{ host.community }}
    {%- endif %}
  {%- endfor %}
{%- endif %}

{%- if communities or location or contact or hosts %}
!
{%- endif %}
